node_modules
dist
.git
.gitignore
.env
.env.*
.wrangler
.vscode
.idea
.DS_Store
*.log
_serverlog.txt
_servererr.txt
_log.txt
_err.txt
_temp_*
docs/*.docx
docs/*.rar
docs/*.zip
docs/*.7z
README.md
*.md
docs
